@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main{
    font-family: "Margarine", sans-serif;
    background-color: black;
    height: 100vh;
    color: white;
    position: relative;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    height: 100px;
}
.navbar div:first-child:hover{
    color: #F5980C;
}
.navbar div:first-child{
    transition: all 0.1s ease-in-out;
    font-style: italic;
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    cursor: pointer;
}
li:hover{
    color: #F5980C;
}
ul li:nth-child(4):hover{
    transform: scale(1.1);
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
}
ul li:nth-child(1){
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
ul li:nth-child(2){
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
ul li:nth-child(3){
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
ul li:nth-child(4){
    transition: all 0.1s ease-in-out;
    color: #F5980C;
    background-color: white;
    padding: 5px 13px;
    border-radius: 25px;
    cursor: pointer;
}
.background{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.background img{
    width: 1400px;
    height: 530px;
    border-radius: 30px;
    opacity: 0.4;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.title span:first-child{
    font-style: italic;
    font-weight: bolder;
    color: #F5980C;
    font-size: 100px;
    margin-bottom: -10px;
}
.title span:nth-child(2){
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 60px;
}
.title span:nth-child(3){
    font-size: 16px;
    display: flex;
    align-items: center;
}
.sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #F5980C;
    height: 100vh;
}
.second{
    margin-left: 80px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
}
.second span:first-child{
    display: flex;
    font-size: 100px;
    font-style: italic;
    font-weight: bolder;
    margin-top: 130px;
    margin-left: -20px;
    margin-bottom: 40px;
}
.second span:nth-child(2){
    display: flex;
    margin-bottom: 20px;
}
.second span:nth-child(3){
    display: flex;
}
.secondimg img{
    position: relative;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.25) 7px 16px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 359px;
    height: 508px;
    margin-bottom: 50px;
    margin-right: 80px;
    filter: brightness(90%);
}
.img1{
    transform: translateX(40%) translateY(13%);
    z-index: 10;
}
.thir{
    background-color: #F5980C;
    display: block;
}
.ourmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 60px;
    font-weight: bold;
}
.content{
    display: flex;
    max-width: 85vw;
    margin: auto;
    border-radius: 30px;
    background-color: black;
    height: 550px;
    align-items: center;
}
.content img{
    transition: all 0.17s ease-in-out;
    width: 230px;
    height: 215px;
    border-radius: 400px;
    margin-left: 55px;
    cursor: pointer;
}
.firstcol img:hover{
    transform: scale(1.1);
}
.firstcol{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.secondcol{
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    margin-left: 40px;
    margin-right: -10px;
}
.secondcolf div:first-child{
    font-size: 40px;
}
.secondcols div:first-child{
    font-size: 40px;
}
.secondcolf, .secondcols div:nth-child(2){
    font-size: 25px;
}
.thirdcol img:hover{
    transform: scale(1.1);
}
.thirdcol{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    cursor: pointer;
}
.fourthcol{
        display: flex;
        flex-direction: column;
        row-gap: 200px;
        margin-left: 40px;
}
.fourthcolf div:first-child{
    font-size: 40px;
}
.fourthcols div:first-child{
    font-size: 40px;
}
.fourthcolf, .fourthcols div:nth-child(2){
    font-size: 25px;
}
.discover span:hover{
    transform: scale(1.1);
}
.discover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.discover span{
    transition: all 0.1s ease-in-out;
    color: #F5980C;
    background-color: white;
    padding: 5px 13px;
    border-radius: 25px;
    cursor: pointer;
}
.last{
    position: relative;
    background-color: black;
    height: 100vh;
}
.lastimg img{
    width: 1519px;
    position: absolute;
    height: 100vh;
    opacity: 0.2;
}
.lastfooter{
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}
.footer{
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}    
.footer1{
    margin-right: 90px;
}
.footer1 span:first-child{
    font-size: 60px;
    font-weight: bolder;
}
.footer1 span:nth-child(2){
    font-size: 30px;
    color: #F5980C;
}
.footer1 span:nth-child(3){
    margin-top: 15px;
    display: flex;
    margin-bottom: 15px;
}
.footer2{
    top: -40px;
    row-gap: 20px;
}
.footer2 span:first-child{
    color: #F5980C;
    font-size: 25px;
}
.footer3{
    top: -40px;
    row-gap: 20px;
}
.footer3 span:first-child{
    color: #F5980C;
    font-size: 25px;
}
.footer1 span:nth-child(4){
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}